<div class="dialog-wrap">
  <div class="dialog">
    <img class="dialog__image" [src]="character.image" />
    <p class="dialog__text"><span>Name:</span> {{ character.name }}</p>
    <p class="dialog__text"><span>Gender:</span> {{ character.gender }}</p>
    <p class="dialog__text"><span>Status:</span> {{ character.status }}</p>
    <p class="dialog__text"><span>Location:</span> {{ character.location.name }}</p>
    <p class="dialog__text"><span>Origin:</span> {{ character.origin.name }}</p>
  </div>
</div>
