@use "/src/styles/variables" as *;

.dialog {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__image {
    margin-bottom: 1rem;
    border-radius: 1rem;
  }

  &__text {
    margin-bottom: 0.5rem;
    font-size: $f-size-list;
    font-family: $f-family-poppins;

    span {
      font-weight: 700;
    }

    &:last-child {
      margin: 0;
    }
  }
}
