@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.episodes-container {
  display: flex;
  flex-direction: column;
  border-top: 3px solid $color-wheat;
  min-height: 90vh;
  height: fit-content;
}

.episodes-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem auto 0 auto;
  width: 90%;
}

.episodes {
  margin-top: 1rem;
  width: 100%;
  font-family: $f-family-poppins;
  color: $color-darkBlue;

  &__filter {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.3rem;

    @include mobileMinBreakPoint {
      flex-direction: row;
    }

    input {
      border: none;
      border-radius: 0.2rem;
      width: 40%;
      height: 1.5rem;
      padding-left: 0.5rem;
      background-color: $color-lightBlue;
      font-size: $f-size-small;
      color: $color-darkBlue;
      cursor: pointer;

      &:focus {
        outline: none;
        background-color: $color-wheat;
      }

      &:active {
        background-color: $color-wheat;
      }

      @include mobileMinBreakPoint {
        width: 5rem;
      }
    }

    button {
      transition: $anim-fast-ease;
      border: none;
      border-radius: 0.2rem;
      margin-top: 1rem;
      width: 5rem;
      height: 1.5rem;
      background-color: $color-lightBlue;
      cursor: pointer;
      font-size: $f-size-small;
      font-family: $f-family-poppins;
      color: $color-darkBlue;

      @include mobileMinBreakPoint {
        margin: 0 0 0 0.7rem;
      }

      &:hover {
        background-color: $color-wheat;
      }

      &:active {
        transform: scale(1.1);
      }
    }

    label {
      margin-top: 0.5rem;
      padding-left: 0.5rem;
      font-size: $f-size-small;
      font-family: $f-family-poppins;
      color: $color-lightBlue;

      @include mobileMinBreakPoint {
        margin: 0;
      }
    }
  }

  &__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 1rem 1rem 0 0;
    height: 3rem;
    padding-left: 2rem;
    background-color: $color-wheat;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 0.5rem;
    width: 100%;
  }
}

.episode {
  display: flex;
  justify-content: space-around;
  transition: $anim-very-fast-ease;
  margin-bottom: 0.5rem;
  border-radius: 1rem;
  height: 5rem;
  padding-left: 2rem;
  background-color: $color-lightBlue;
  cursor: pointer;

  &:hover {
    transform: scale(1.01);
  }

  @include mobileMinBreakPoint {
    height: 3rem;
    padding-left: 2rem;
  }

  &__text {
    flex: 1;
    display: flex;
    align-items: center;
    padding-right: 1rem;
    font-size: $f-size-small;

    &:first-of-type {
      flex: none;
      width: 2rem;

      @include mobileMinBreakPoint {
        width: 3rem;
      }
    }
  }
}

.no-episodes {
  text-align: center;

  &__text {
    margin: 5rem 0 1rem 0;
    font-size: $f-size-big;
    font-family: $f-family-poppins;
    color: $color-lightBlue;
  }

  &__button {
    transition: $anim-fast-ease;
    border: none;
    border-radius: 0.2rem;
    padding: 0.5rem 2rem;
    background-color: $color-lightBlue;
    cursor: pointer;
    font-size: $f-size-normal;
    font-family: $f-family-poppins;
    color: $color-darkBlue;

    &:hover {
      background-color: $color-wheat;
    }
  }
}
