<div class="logo">
  <img [src]="images.title.src" [alt]="images.title.alt" />
</div>

<div class="faces">
  <img [src]="images.rick.src" [alt]="images.rick.alt" />
  <img [src]="images.morty.src" [alt]="images.morty.alt" />
</div>

<div class="bubbles">
  <div class="bubble1"></div>
  <div class="bubble2"></div>
  <div class="bubble3"></div>
  <div class="bubble4"></div>
  <div class="bubble5"></div>
  <div class="bubble6"></div>
  <div class="bubble7"></div>
  <div class="bubble8"></div>
  <div class="bubble9"></div>
</div>
