@use "/src/styles/variables" as *;

.dialog {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  font-size: $f-size-list;
  gap: 0.5rem;

  &__text {
    font-family: $f-family-poppins;

    span {
      font-weight: 700;
    }

    &:last-child {
      margin: 0;
    }
  }
}
