@use "/src/styles/index" as *;

.mat-paginator {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 0.5rem;
  border-radius: 1rem !important;
  height: 3rem;
  background-color: $color-darkBlue;
  font-size: 0.4rem;
  font-family: $f-family-poppins;

  @include mobileMinBreakPoint {
    flex-direction: row;
    font-size: $f-size-small;
  }
}
