<div class="locations-container">
  <div class="locations-wrap">
    <form class="locations__filter" [formGroup]="formGroup">
      <label for="name">Name</label>
      <input formControlName="name" id="name" />
      <label for="type">Type</label>
      <input formControlName="type" id="type" />
      <label for="dimension">Dimension</label>
      <input formControlName="dimension" id="dimension" />

      <button (click)="update()">Search</button>
    </form>
    <div class="locations">
      <div class="locations__header">
        <p class="location__text">Id</p>
        <p class="location__text">Name</p>
        <p class="location__text">Type</p>
        <p class="location__text">Dimension</p>
      </div>

      <ul class="locations__list" *ngIf="locations.length; else noLocations">
        <li
          class="location"
          *ngFor="let location of locations"
          (click)="openLocationDialog(location)"
        >
          <p class="location__text">{{ location.id }}</p>
          <p class="location__text">{{ location.name }}</p>
          <p class="location__text">{{ location.type }}</p>
          <p class="location__text">{{ location.dimension }}</p>
        </li>

        <app-pagination
          [count]="totalItems"
          [page]="page"
          (returnPaginationData)="handlePageEvent($event)"
        ></app-pagination>
      </ul>

      <ng-template #noLocations>
        <div class="no-locations">
          <h2 class="no-locations__text">
            No results<br />
            Go to main page
          </h2>
          <button class="no-locations__button" (click)="navigateToLocations()">
            Return
          </button>
        </div>
      </ng-template>
    </div>
  </div>
</div>
