@use "/src/styles/variables" as *;
@use "/src/styles/mixins" as *;

.watch-list-container {
  display: flex;
  flex-direction: column;
  border-top: 3px solid $color-wheat;
  min-height: 90vh;
  height: fit-content;
}

.watch-list {
  margin: 1rem auto 0 auto;
  width: 90%;

  &__add {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;

    @include mobileMinBreakPoint {
      flex-direction: row;
    }

    input {
      border: none;
      border-radius: 0.2rem;
      outline: none;
      width: 10rem;
      height: 2rem;
      padding-left: 0.5rem;
      background-color: $color-lightBlue;
      font-size: $f-size-small;
      font-family: $f-family-poppins;
      color: $color-darkBlue;

      &::placeholder {
        color: $color-darkBlue;
      }

      &:focus {
        background-color: $color-wheat;
      }
    }

    button {
      transition: $anim-fast-ease;
      border: none;
      border-radius: 0.2rem;
      outline: none;
      width: 10rem;
      height: 2rem;
      background-color: $color-lightBlue;
      cursor: pointer;
      font-size: $f-size-small;
      font-family: $f-family-poppins;
      color: $color-darkBlue;

      &:hover {
        background-color: $color-wheat;
      }

      @include mobileMinBreakPoint {
        width: 10rem;
      }
    }
  }
}

.episodes-wrap {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  @include mobileMinBreakPoint {
    flex-direction: row;
  }
}

.list {
  flex: 1;
  border: 3px solid $color-wheat;
  border-radius: 0.7rem 0.7rem 0 0;
  min-height: 30vh;

  @include mobileMinBreakPoint {
    min-height: 60vh;
  }

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
    border-radius: 0.5rem 0.5rem 0 0;
    height: 2.5rem;
    background-color: $color-wheat;
  }
}

.list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 1rem;
  height: 3rem;
  padding: 0 1rem;
  list-style: none;
  background-color: $color-lightBlue;

  &__text {
    font-size: $f-size-list;
    font-family: $f-family-poppins;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }

  &__button {
    transition: $anim-fast-ease;
    border: none;
    border-radius: 0.2rem;
    padding: 0.3rem 0.7rem;
    font-size: $f-size-small;
    font-family: $f-family-poppins;
    background-color: $color-darkBlue;
    cursor: pointer;
    color: $color-lightBlue;

    &:hover {
      background-color: $color-wheat;
      color: $color-darkBlue;
    }
  }
}

.disabled {
  opacity: 0.5;
  cursor: not-allowed !important;
}
